NEXT_PUBLIC_SUPABASE_URL=https://ozesqdfwzdtuszmeedhq.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im96ZXNxZGZ3emR0dXN6bWVlZGhxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzEwNTExMjEsImV4cCI6MjA4NjYyNzEyMX0.b7miEQKm4epi9h2I2ea8aQR4VKbxrZNngeQjLjIWw84
NEXT_PUBLIC_BASE_URL=http://localhost:3000